python-dateutil>=2.8.2
deprecation
jsonschema
pyyaml
requests
orjson
httpx
biothings-explorer>=1.1.0
pytest>=7.1.1
pytest-asyncio
pytest-harvest
pymongo
kgx

# bmt>=0.8.4
git+https://github.com/biolink/biolink-model-toolkit.git@v0.8.4-patch-release#egg=bmt

# reasoner-validator>=2.2.14
-e git+https://github.com/NCATSTranslator/reasoner-validator.git@trapi-response-validator-method#egg=reasoner-validator
